@import url('./nullstyle.css');

:root {
  --width: 300px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

/* Main App Style */

.app {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  grid-row-gap: 1em;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #121c1e;
}

.header {
  grid-area: header;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

/* Navigation Styles */

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav .header__nav__btn {
  display: block;
  color: whitesmoke;
  margin: 0 1em;
}

.main {
  grid-area: main;
  height: 100%;
  max-width: 100%;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Settings */

.main__settings {
  width: 100%;
  height: 100%;
  display: grid;
  row-gap: 1em;
  align-items: start;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  grid-column-gap: 1em;
  height: max-content;
}

.controls > div {
  background-color: darkolivegreen;
  height: 250px;
  border-radius: 5px;
  padding: 10px;
}

.controls__filter-header {
  font-size: 1.1em;
  margin: 0.5em 0.25em;
}

.filter-btns__header {
  font-size: 0.9em;
  margin: 0.5em 0.25em;
}

.filter__btns {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.filter__btns > * + * {
  margin: 0.5em;
}

.filter__btns .btn {
  width: 25px;
  height: 25px;
  background-color: darkgreen;
}

/* Settings - Slider Styles */

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider {
  clear: both;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.slider .controls__filter-header {
  font-size: 0.9em;
}

.slider__rail-label {
  float: left;
  position: relative;
  margin: 0 10px;
}

.slider__rail-label.max {
  padding-left: 0.5em;
  text-align: left;
}

.slider .slider__rail {
  background-color: #eee;
  border: 1px solid #888;
  position: relative;
  height: 4px;
  float: left;
  width: var(--width);
}

.slider__thumb {
  --left: 0px;
}

.slider .slider__thumb {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -10px;
}

.slider .slider__thumb.focus,
.slider .slider__thumb:hover {
  outline-color: rgb(93, 206, 0);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}

.slider .slider__rail.focus {
  background-color: #aaa;
}

/* Cards styles */

.cards {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
  justify-content: center;
  align-items: center;
}

.card {
  height: 280px;
  background-color: lightcyan;
  border-radius: 5px;
}

.card__img {
  width: 90px;
  height: 112px;
  object-fit: contain;
  pointer-events: none;
}

.cards {
  color: #121c1e;
}

/* Footer Styles */

.footer {
  grid-area: footer;
  height: 50px;
  display: flex;
  justify-content: center;
}

.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__item a {
  color: whitesmoke;
}

.footer__item__icon-git {
  height: 1.5em;
}

.footer__item__icon-rss {
  height: 3em;
}
