@import url('./nullstyle.css');

/* :root {
  --width: 300px;
} */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

/* Main App Style */

.app {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  grid-row-gap: 1em;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #121c1e;
}

.header {
  grid-area: header;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

/* Navigation Styles */

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav .header__nav__btn {
  display: block;
  color: whitesmoke;
  margin: 0 1em;
}

.main {
  grid-area: main;
  height: 100%;
  max-width: 100%;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Settings */

.main__settings {
  width: 100%;
  height: 100%;
  display: grid;
  row-gap: 1em;
  align-items: start;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  grid-column-gap: 1em;
  height: max-content;
}

.controls > div {
  background-color: darkolivegreen;
  height: 250px;
  border-radius: 5px;
  padding: 10px;
}

.controls__filter-header {
  font-size: 1.1em;
  margin: 0.5em 0.25em;
}

.filter-btns__header {
  font-size: 0.9em;
  margin: 0.5em 0.25em;
}

.filter__btns {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.filter__btns > * + * {
  margin: 0.5em;
}

.filter__btns .btn {
  width: 25px;
  height: 25px;
  background-color: darkgreen;
}

/* Settings - Slider Styles */

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider .controls__filter-header {
  font-size: 0.9em;
}

.slider__inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__rail {
  width: 250px;
  height: 5px;
  background-color: lightgreen;
}

.slider__input::-webkit-outer-spin-button,
.slider__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.slider__input {
  -moz-appearance: textfield;
}

.slider__input {
  width: 20px;
  height: 1.5em;
  margin: 0 5px;
  border: 1px solid darkgreen;
  border-radius: 5px;
  background-color: rgb(160, 184, 119);
}

.slider__input::-moz-placeholder,
.slider__input::-webkit-input-placeholder,
.slider__input::-ms-input-placeholder {
  color: rgb(131, 10, 10);
}

/* Cards styles */

.cards {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
  justify-content: center;
  align-items: center;
}

.card {
  height: 280px;
  background-color: lightcyan;
  border-radius: 5px;
}

.card__img {
  width: 90px;
  height: 112px;
  object-fit: contain;
  pointer-events: none;
}

.cards {
  color: #121c1e;
}

/* Footer Styles */

.footer {
  grid-area: footer;
  height: 50px;
  display: flex;
  justify-content: center;
}

.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__item a {
  color: whitesmoke;
}

.footer__item__icon-git {
  height: 1.5em;
}

.footer__item__icon-rss {
  height: 3em;
}
